html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
form, fieldset, legend, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	/* background:transparent; */
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption{ display:block;}
ul, ol{list-style:none;} 
em, address, i{font-style:normal;}
a{color:#fff;text-decoration:none;}
a:hover{text-decoration:unterline;}

/* Form */
legend{position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip-path:polgon(0 0, 0 0, 0 0);} 
select, textarea, input, label{vertical-align:middle;}
select, textarea, input{-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none}
input[type=search]{-webkit-appearance:textfield}						
input[type=checkbox], input[type=radio]{box-sizing:border-box;padding:0}
button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0}
select:-moz-focusring{color:transparent;text-shadow:0 0 0 #000}

:root{color:#5e6372;font-size:18px;line-height:1.7; letter-spacing: .0278rem;font-family: 'Spoqa Han Sans Neo', 'sans-serif';}
:focus{outline-style: dotted; outline-width: 2px;}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }